@use "variables" as *;

@mixin boton($font-size, $font-weight, $font-family, $bg-color, $border-color, $padding, $text-color, $hover-bg-color) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: $padding;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 30px 0;
  
    a {
      list-style: none;
      text-decoration: none;
      color: $text-color;
    }
  
    &:hover {
      background-color: $hover-bg-color;
    }
}
.boton {
    @include boton(
      $font-size-21, 
      $font-weight-bold, 
      $font-inter, 
      $color-primary1, 
      $color-primary3, 
      10px 20px, 
      $color-primary4, 
      $color-primary2
    );
}

$breakpoints: (
  "small": (
    max-width: 768px,
  ),
  "medium": (
    min-width: 769px,
    max-width: 1024px,
  ),
  "large": (
    min-width: 1025px,
  ),
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

body {
  background-color: $default-bg-color;

  @include respond-to("small") {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px; 
      background-color: $color-white; 
    
      .logo img {
        max-height: 50px; 
      }
      ul {
        display: flex; 
        gap: 20px; 
        li {
        margin: 0;
            a {
            text-decoration: $text-decoration-none;
            color: $color-black;
            font-size: $font-size-10; 
                &:hover {
                color: $color-primary1;
                }
            }
        }
      }
    }
  .banner-texto{
      color: $color-white;
      text-align: center;
      background-color: $color-primary1;
      border: solid 3px $color-secondary1;
      h2{
          font-size: $font-size-16;
      }
  }
  .banner2-img {  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    padding: 20px; 

    .text-box {
      width: 70%; 
      margin-bottom: 20px; 
      text-align: center; 
      p {
        font-size: $font-size-16;
        margin: 15px 0;
      }
    }
    img {
      width: 90%; 
      height: auto; 
    }
  }
  .cajas {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: $color-primary1; 
    .caja {
        flex: 1;
        text-align: center;
        background-color: $color-primary1;
        border: solid 3px $color-primary4;
        border-bottom: solid 5px $color-primary4;
        p{
            color: $color-white;
            font-size: $font-size-10
        }
        img {
            width: 20px; 
            display: inline;
            margin-top: 10px; 
        }
    }
  }

  .equipaciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      flex: 1;
      text-align: center;
      border: solid 3px;
      padding: 10px;
      img {
        width: 100px;
        display: block;
        margin: 15px auto;
      }
      h4 {
        -webkit-text-stroke-width: 1px;
        font-size: $font-size-16;
      }
    }
    .equipacion-local {
      background-color: $color-primary3;
      border-color: $color-primary1;
      h4 {
        -webkit-text-stroke-color: $color-primary1;
        color: $color-primary1;
      }
    }
    .equipacion-visitante {
      background-color: $color-secondary2;
      border-color: $color-secondary1;
      h4 {
        -webkit-text-stroke-color: $color-secondary1;
        color: $color-secondary1;
      }
    }
    .equipacion-portero {
      background-color: $color-secondary3;
      border-color: $color-secondary5;
      h4 {
        -webkit-text-stroke-color: $color-secondary5;
        color: $color-secondary5;
      }
    }
  }
  .informacion {
    flex-direction: column;
    justify-content: center;   
    padding: 10px 50px; 
    .text-info {
      width: 90%;   
      h2 {
        font-size: $font-size-32;
        margin-bottom: 20px;
      }
    }
    img {
      width: 100%;  
      margin-bottom: 55px;
    }
  }
  }
  @include respond-to("medium") {
  }
}